/* T-box inter-node bus = CAN3 (J33 pins 6/16 = CAN3_H/CAN3_L). flexcan3 enabled
 * at 125 kbit/s to match the FRDM-A k1_edge node on flexcan0 (same wire, same rate).
 * CAN3 transceiver STB/EN must be in normal mode (T-box CAN-PHY power J47/J48/J23). */
/ {
	chosen {
		zephyr,canbus = &flexcan3;
	};
};

&flexcan3 {
	bitrate = <125000>;
	status = "okay";
};
