/* FRDM-A-S32K344 (UM12406): CAN0 via TJA1043 on J15, EN=PTC21 / STB=PTC20,
 * 125 kbit/s. Console is S32DS semihosting (see frdma.conf). */
&can_phy0 {
	enable-gpios  = <&gpioc_h 5 GPIO_ACTIVE_HIGH>;   /* PTC21 = CAN0_EN  */
	standby-gpios = <&gpioc_h 4 GPIO_ACTIVE_LOW>;    /* PTC20 = CAN0_STB */
};

&flexcan0 {
	bitrate = <125000>;
};
