/* Overwrite needed */
#include <nxp/s32/S32K344-172MQFP-pinctrl.h>

&pinctrl {
	lpuart6_default: lpuart6_default {
		group1 {
			pinmux = <PTA16_LPUART6_TX_O>;
			output-enable;
		};
		group2 {
			pinmux = <PTA15_LPUART6_RX>;
			input-enable;
		};
	};
};

&lpuart6 {
	pinctrl-0 = <&lpuart6_default>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/ {
	chosen {
		zephyr,console = &lpuart6;
		zephyr,shell-uart = &lpuart6;
	};
};